// Импорты
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  color: $color-text-primary;
  line-height: 1.6;
  background: $color-bg-lighter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;
	max-width: 1393px;
	margin: 0 auto;
	padding: 0 20px;
}