---
// src/pages/news/single.astro
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import PartnersList from '../components/PartnersList.astro';
import NewsSingle from '../components/NewsSingle.astro';

// Данные для компонента
const newsItem = {
  title: "Центр компетенций",
  date: "24.09.2025 15:46",
  image: "",
  content: `
    <p>Уважаемые пациенты! Личный кабинет пациента – удобный инструмент для управления своими медицинскими данными.</p>
    <h3>Центр компетенций в области управления качеством и безопасностью медицинской деятельности:</h3>
	<p>ФБГУ «Национальный институт качества» Росздравнадзора с 2017 года ведет работу по формированию и развитию центров компетенций по вопросам управления качеством и безопасностью медицинской деятельности в субъектах Российской Федерации (далее – Центры компетенций).</p>
	<p>Региональный центр компетенций создается на базе медицинской организации (медицинских организаций) субъекта (субъектов) Российской Федерации, соответствующей требованиям Предложений (практических рекомендаций) по организации внутреннего контроля качества и безопасности медицинской деятельности в медицинской организации.</p>
	<p>Целью деятельности Центра компетенции является совершенствование системы управления качеством и безопасностью медицинской деятельности в медицинских организациях субъекта Российской Федерации.</p>
	`
};


const sidebarItems = [
  {
    title: "Центр компетенций",
    href: "#",
    isActive: true
  },
  {
    title: "История создания Центра компетенций",
    href: "/department"
  },
  {
    title: "Программа обучающих семинаров по внутреннему контролю качества и безопасности медицинской деятельности по разделам ПР РЗН",
    href: "/department"
  },
  {
    title: "Проведение диагностических аудитов в медицинской организации на соответствие",
    href: "/department"
  }
];

const breadcrumbsItems = [
  { title: "Специалистам", href: "/" },
  { title: "Центр компетенций" }
];
---

<Layout>
  <NewsSingle 
    newsItem={newsItem}
    sidebarItems={sidebarItems}
    breadcrumbsItems={breadcrumbsItems}
    showSidebar={true}
  />
  <ContactForm />
  <PartnersList />
</Layout>
