---
// src/pages/news/single.astro
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import PartnersList from '../components/PartnersList.astro';
import NewsSingle from '../components/NewsSingle.astro';
import Documents from '../components/Documents.astro';

// Данные для компонента
const newsItem = {
  title: "Личный кабинет пациента: ваши медицинские данные всегда под рукой",
  date: "24.09.2025 15:46",
  image: "/images/RKB.png",
  content: `
    <p>Уважаемые пациенты! Личный кабинет пациента – удобный инструмент для управления своими медицинскими данными.</p>
    
    <h3>Что доступно в личном кабинете?</h3>
    
    <p><strong>Медицинская карта:</strong> хранение и быстрый доступ к истории ваших обращений, результатов анализов и назначений.</p>
    
    <p><strong>Записи на прием:</strong> вы сможете просматривать свои назначенные визиты к врачам и управлять записью.</p>
    
    <p><strong>Дневники здоровья:</strong> функция отслеживания лечения с важными заметками и рекомендациями от специалистов. Это поможет вам и вашему врачу эффективно мониторить ваше состояние.</p>
    
    <p><strong>Полезная информация:</strong> доступ к актуальным статьям и новостям в области здравоохранения, а также рекомендации по здоровому образу жизни.</p>
    
    <h3>Почему личный кабинет это круто?</h3>
    
    <p>Личный кабинет в нашей больнице делает заботу о здоровье проще и удобнее. Здесь вы можете записаться на приём к врачу, просмотреть результаты анализов, следить за историей посещений и графиком обследований, не тратя время на звонки или очереди. Всё нужное всегда под рукой, а ваши данные надёжно защищены. Личный кабинет помогает быть в курсе своего здоровья, получать своевременные уведомления о приемах и назначениях и управлять визитами в клинику легко и безопасно.</p>
    
    <p>Личный кабинет помогает экономить время и упрощает взаимодействие с клиникой. Всё, от записи на приём до получения справок и оплаты услуг, можно сделать онлайн в пару кликов. Вы всегда будете получать важные уведомления и напоминания, а доступ к вашим медицинским данным остаётся полностью конфиденциальным. Это современное и удобное решение для тех, кто ценит своё здоровье и своё время.</p>
  `
};

const documents = [
  {
    title: "Руководство пользователя",
    format: "PDF",
    size: "2 мб"
  },
  {
    title: "Инструкция по регистрации",
    format: "PDF",
    size: "2 мб"
  },
  {
    title: "Памятка пациента",
    format: "PDF",
    size: "2 мб"
  }
];

const breadcrumbsItems = [
  { title: "Пациентам", href: "/" },
  { title: "Личный кабинет" }
];
---

<Layout>
  <NewsSingle 
    newsItem={newsItem}
    breadcrumbsItems={breadcrumbsItems}
    showSidebar={false}
  >
  	{documents.length > 0 && (
      <Documents documents={documents} />
	)}
  </NewsSingle>
  <ContactForm />
  <PartnersList />
</Layout>
