---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>РКБ – Республиканская Клиническая Больница</title>
    <!-- Подключение Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Подключение jQuery и Owl Carousel JS -->
    <script is:inline  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script is:inline  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script is:inline  src="https://rkbrt.ru/wp-content/themes/rkb/css/grid.min.css?ver=5.6.16"></script>
	</head>
  	<body>
    <!-- Header -->
    <Header />
    <!-- Основной контент с возможностью боковой панели -->
    <main class="main-content">
      <slot />
    </main>

    <!-- Footer -->
    <Footer/>
  </body>
</html>

<style lang="scss" is:global>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  color: $color-text-primary;
  line-height: 1.6;
  background: $color-bg-lighter;
  font-family: $font-family-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.news-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border: 1px solid rgba(15, 23, 42, 0.12);
  border-radius: 28px;
  padding: 16px 32px;
  
  font-size: 16px;
  color: #010101;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    background: #f8fafc;
    
  }
}
</style>


